{# signup.html #}

{%  extends "base.html" %}
{% block content %}
    <h1>Create your account</h1>
    <br>
    <form action="{{ url_for("signup") }}" method="POST">
    {# Add CSRF protection #}
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username (class="form-control") }}
        {# Show errors #}
        {% if form.username.errors %}
          <span class="has-error" style="color: red">
            {% for error in form.username.errors %}
              {{ error }}
            {% endfor %}
          </span>
        {% endif %}
    </div>
    <br>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email (class="form-control") }}
        {# Show errors #}
        {% if form.email.errors %}
          <span class="has-error" style="color: red">
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor %}
          </span>
        {% endif %}
    </div>
    <br>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password (class="form-control") }}
        {# Show errors #}
        {% if form.password.errors %}
          <span class="has-error" style="color: red">
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor %}
          </span>
        {% endif %}
    </div>
    <br>
    <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password (class="form-control") }}
        {# Show errors #}
        {% if form.confirm_password.errors %}
          <span class="has-error" style="color: red">
            {% for error in form.confirm_password.errors %}
              {{ error }}
            {% endfor %}
          </span>
        {% endif %}
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-default">Submit and Create Account</button>
    </div>
    </form>
    <br>
    <div>
        <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
    </div>

{% endblock %}